<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
            <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                data-mdb-ripple-color="dark"
            >
                <i class="bi bi-currency-dollar"></i>
            </a>
        
            <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                data-mdb-ripple-color="dark"
            >
                <i class="bi bi-currency-euro"></i>
            </a>
    
        <!-- Section: Social media -->
        </section>
      </div>
      <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://politecnicojic.edu.co">politecnicojic.edu.co.com</a>
    </div>
    <!-- Copyright -->
  </footer>