<mat-card class="header">
    <mat-card-content>
        <app-header></app-header>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <app-convertor [currencies]="currencies" (changeCurrencyEvent)="onCurrencyChange($event)"></app-convertor>
    </mat-card-content>
</mat-card>

<div class="box-graphics">
    <!-- <app-graphics *ngFor="let i in currencies" [currency]="i"></app-graphics> -->
    <app-graphics [currency]="'USD'"></app-graphics>

</div>

<app-footer></app-footer>
